<!DOCTYPE HTML>
<html lang="en">

<head>
    <title>Connection</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/project.css">
</head>
<header>
    <a href="/"> <img src="/images/Banner.jpg" alt="49er Dorm Buddies" id=hImage> </a>

    <ul id="personalNav">
        <% if (typeof thehost !='undefined' ){ %>
            <li><a href="/member/loggedin/savedConnections">Saved Connections</a></li>
            <li><a href="/member/loggedin/logout">Log Out</a></li>
            <%}else{%>

                <li><a href="/member/loggedin/">Log in</a></li>
                <li><a href="/member/loggedin/">Sign up</a></li>

                <% }%>
    </ul>
</header>