<!DOCTYPE HTML>
<html lang="en">

<head>
    <title>49er Dorm Buddies</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/project.css">
</head>
<header>
    <a href="/"> <img src="../../assets/images/banner.png" alt="49er Dorm Buddies" id=hImage> </a>

    
</header>