<!DOCTYPE HTML>
<html lang="en">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">

<head>
  <title>49er Dorm Buddies</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/assets/stylesheets/project.css">
  <link href='../../assets/fullcalendar/main.css' rel='stylesheet' />
  <script src='../../assets/fullcalendar/main.js'></script>


</head>
<header>
  <div class="banner">
    <!-- Update the banner to match the logged in user -->
    <a href="/"> <img src="../../assets/images/banner.png" alt="49er Dorm Buddies" id=hImage> </a>
  </div>

  <% if (user.role==='null' ) { } else if(user.role==='Student' ) {%>
    <nav class="NavBar">
      <div class="navigation-bar">
        <div class="logo-container">
          <a class="nav-logo" href="/student"> <img src="../../assets/images/banner.png" alt="49er Dorm Buddies"
              id=hImage>
          </a>
        </div>
        <div class="main-nav">
          <a class="nav-option" href="/student">Home</a>
          <a class="nav-option" href="/student/message">Message</a>
          <a class="nav-option" href="/student/announcements">Announcements</a>
          <a class="nav-option" href="/student/createEvent">Create Event</a>
        </div>
        <div class="nav-logout">
          <a class="nav-option-logout" href="/student/logout">Logout</a>
        </div>
      </div>
    </nav>

    <%} else if (user.role==='RA' ) {%>

      <nav class="NavBar">
        <div class="navigation-bar">
          <div class="logo-container">
            <a class="nav-logo" href="/RA"> <img src="../../assets/images/banner.png" alt="49er Dorm Buddies" id=hImage>
            </a>
          </div>
          <div class="main-nav">
            <a class="nav-option" href="/RA">Home</a>
            <a class="nav-option" href="/RA/inbox">Inbox</a>
            <a class="nav-option" href="/RA/announcements">Announcements</a>
            <a class="nav-option" href="/RA/createEvent">Create Event</a>
          </div>
          <div class="nav-logout">
            <a class="nav-option-logout" href="/student/logout">Logout</a>
          </div>
        </div>
      </nav>
      <%} else if (user.role==='staff' ) {%>

        <nav class="NavBar">
          <div class="navigation-bar">
            <div class="logo-container">
              <a class="nav-logo" href="/staff"> <img src="../../assets/images/banner.png" alt="49er Dorm Buddies"
                  id=hImage>
              </a>
            </div>
            <div class="main-nav">
              <a class="nav-option" href="/staff">Home</a>
              <a class="nav-option" href="/staff/inbox">Inbox</a>
              <a class="nav-option" href="/staff/announcements">Announcements</a>
              <a class="nav-option" href="/staff/createEvent">Create Event</a>
              <a class="nav-option" href="/staff/viewstudents">View Students</a>
            </div>
            <div class="nav-logout">
              <a class="nav-option-logout" href="/student/logout">Logout</a>
            </div>
          </div>
        </nav>
        <%}%>

</header>