<nav class="NavBar">
    <div class="navigation-bar">
        <ul>
            <li><a href="/RA/homepage">Home</a></li>
            <li><a href="/RA/inbox">Inbox</a></li>
            <li><a href="/RA/announcements">Announcements</a></li>
            <li><a href="/RA/createEvent">Create Event</a></li>
            <li><a href="/RA/logout">Logout</a></li>
        </ul>
    </div>
</nav>