<nav class="NavBar">
    <ul>
        <li><a href="/student/homepage">Home</a></li>
        <li><a href="/student/message">Message</a></li>
        <li><a href="/student/announcements">Announcements</a></li>
        <li><a href="/student/createEvent">Create Event</a></li>
        <li><a href="/student/logout">Logout</a></li>
    </ul>
</nav>