<nav class="NavBar">
    <div class="navigation-bar">
        <div class="logo-container">
            <a class="nav-logo" href="/student/homepage"> <img src="../../assets/images/banner.png" alt="49er Dorm Buddies" id=hImage>
            </a>
        </div>
        <div class="main-nav">
            <a class="nav-option" href="/student/homepage">Home</a>
            <a class="nav-option" href="/student/message">Message</a>
            <a class="nav-option" href="/student/announcements">Announcements</a>
            <a class="nav-option" href="/student/createEvent">Create Event</a>
        </div>
        <div class="nav-logout">
            <a class="nav-option-logout" href="/student/logout">Logout</a>
        </div>
    </div>
</nav>