<nav class="NavBar">
    <ul>
        <li><a href="/index">Home</a></li>
        <li><a href="/member/connections">Connections</a></li>
        <li><a href="/member/loggedin/newConnection">Create Connection</a></li>

    </ul>
</nav>