<%- include('partials/header') -%>



        <body class="about-page-body">
            <main >
                <h1 class="about-page-header">About Us</h1>
                <div class="about-content">
                  <p> 49er Dorm Buddy is designed to help organize and streamline communication within dorms.

                    <br><br>The goal it to make it easier for people living together to communicate and schedule activities more efficiently and be able to get in touch with RA’s.

                    <br><br>RA’s will also be able to use the site to post announcements and help organize events for the dorm to participate in.</p>
                    </div>
            </main>
        </body>
        <%- include('partials/footer') -%>
