<%- include('partials/header') -%>

    

        <body>
            <main >
                <h1>About Us</h1>
                <p>49er Dorm Buddy is designed to help organize and streamline communication within dorms. 

                    The goal it to make it easier for people living together to communicate and schedule activities more efficiently and be able to get in touch with RA’s.
                    
                    RA’s will also be able to use the site to post announcements and help organize events for the dorm to participate in.</p>
            </main>
        </body>
        <%- include('partials/footer') -%>