<%- include('partials/header') -%>

    <%- include('partials/navigation') -%>

        <body>
            <main class="extra">
                <p>Theis site was created for garderner's to come together and tour gardens.</p>
                <p>Made by Christian Kotas for Ted Kotas</p>

            </main>
        </body>
        <%- include('partials/footer') -%>