<%- include('partials/header') -%>

    <%- include('partials/navigation') -%>

        <body>
            <main >
                <h1>Announcements Page</h1>
                <div class="announcementList">
                    <form>
                        <table>
                            <thead>
                                <tr>
                                    <th> Dorm Event</th>
                                </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    End of semester party!
                                </td>
                                <td>
                                    <input type="submit" value="going">
                                </td>
                            </tr>

                            </tbody>

                        </table>
                    </form>
                </div>

            </main>
        </body>
        <%- include('partials/footer') -%>