<%- include('partials/header') -%>

    <%- include('partials/navigationRA') -%>

        <body>
            <main>
                <h1>Announcements Page</h1>
                <div class="announcementList">
                    <form id="anouncementsRa" method="POST"action="/RA/AnnouncementsRA">
                        <table>
                            <thead>
                                <tr>
                                    <th> Dorm Event</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        End of semester party!
                                    </td>
                                    <td>
                                        <button type="submit" formmethod="post" formaction="/RA/going">Going</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <button type="submit" formmethod="GET" formaction="/RA/editAnnouncement">Edit</button>
                                    </td>
                                    <td>
                                        <button type="submit" formmethod="POST" formaction="/RA/announcements">Delete</button>
                                    </td>
                                </tr>
                            </tbody>

                        </table>
                    </form>

                    <form method="get" action="/RA/CreateAnnouncementsRA">
                        <button type="submit">Create</button>
                    </form>

                </div>

            </main>
        </body>
        <%- include('partials/footer') -%>