<%- include('partials/header') -%>

    <%- include('partials/navigationStudent') -%>

        <body>
            <main>
                <h1>Announcements Page</h1>
                <div class="announcementList">
                    <form id="anouncementspage" method="POST"action="/Announcements">
                        <table>
                            <thead>
                                <tr>
                                    <th> Dorm Event</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        End of semester party!
                                    </td>
                                    <td>
                                        <input type="submit" value="going">
                                    </td>
                                </tr>
                            </tbody>

                        </table>
                    </form>
                </div>

            </main>
        </body>
        <%- include('partials/footer') -%>