<%- include('partials/header') -%>

    <%- include('partials/navigationStudent') -%>

        <body class="announcement-body-page">
            <main>
                <h1 class="announcement-text">Announcements</h1>
                <div class="announcement-container">
                    <form id="anouncementspage" method="POST" action="./Announcements">
                        <table class="announcement-list">
                            <tbody>
                                <tr>
                                    <td>
                                        Dorm Event
                                    </td>

                                    <th rowspan="2" class="detail-announcement"> End of the Semester Party! </th>
                                    <th rowspan="2" class="announcement-going">
                                        <button type="submit" class="going-button" value="going">Going</button>
                                    </th>
                                </tr>
                                <tr>
                                    <td class="announcement-color">

                                    </td>
                                </tr>

                            </tbody>

                        </table>
                    </form>
                </div>
            </main>
        </body>
        <%- include('partials/footer') -%>