<%- include('partials/header') -%>
        <body class="contact-page-body">
            <main >
                <h1 class="contact-page-header">Contact Us</h1>
                <div class="contact-content">
                  <p> <span>Email:</span> 49erDormBuddies@uncc.edu</p>
                <p> <span>Phone:</span> 704-***-****</p>
                    </div>
            </main>
        </body>
        <%- include('partials/footer') -%>
