<%- include('partials/header') -%>

    <%- include('partials/navigationStudent') -%>

        <body>
            <main >
                <h1>Contact Us</h1>
                <p>49erDormBuddies@uncc.edu

                    704-***-****</p>
            </main>
        </body>
        <%- include('partials/footer') -%>