<%- include('partials/header') -%>

    <%- include('partials/navigation') -%>

        <body>
            <main class="extra">
                <p>For furhter information about the site please contact Christian Kotas at ckotas@uncc.edu</p>
            </main>
        </body>
        <%- include('partials/footer') -%>