<%- include('partials/header') -%>



    <body>
        <main>
            <h1>Create Announcement</h1>
            <form id="CreateAnnouncmentsRA" method="POST" action="/RA/CreateAnnouncementsRA">
                <label for="annTitle"> Title:</label>
                <input type="text" id="annTitle" name="annTitle">

                <label for="annType"> Type:</label>
                <select name="annType" id="annType">
                    <option value="Dorm">Dorm</option>
                    <option value="School">School</option>
                    <option value="Floor">Floor</option>
                </select>

                <label for="anncolor" >Color:</label> <input type="color" id="annColor" name="annColor"></li>
                <label for="annTextcolor" >Text Color:</label> <select id="annTextcolor" name="annTextcolor">
                    <option value="Black">Black</option>
                    <option value="White">White</option>

                    <label for="annDate"> Date:</label>
                    <input type="date" id="annDate" name="annDate">

                    <label for="annStartTime"> Start Time:</label>
                    <input type="time" id="annStartTime" name="annStartTime">

                    <label for="annEndTime"> End Time:</label>
                    <input type="time" id="annEndTime" name="annEndTime">

                    <label for="annRepeat">Repeat:</label>
                    <select name="annRepeat" id="annRepeat">
                        <option value="None">None</option>
                        <option value="Daily">Daily</option>
                        <option value="Weekly">Weekly</option>
                    </select>
                    <label for="annRecurDateend">End Date:</label> <input type="date" id="annRecurDateend"
                        name="annRecurDateend">
                    <label for="annDesc"> Event description:</label>
                    <textarea name="annDesc" id="annDesc"></textarea>

                    <input type="submit" value="Create Announcement">
            </form>
        </main>
    </body>
    <%- include('partials/footer') -%>