<%- include('partials/header') -%>

    <%- include('partials/navigationRA') -%>

        <body>
            <main >
                <h1>Create Announcement student w</h1>

            </main>
        </body>
        <%- include('partials/footer') -%>