<%- include('partials/header') -%>



        <body class="create-event-body-page">
            <main >
                <h1 class="create-event-text">Create events</h1>

                <div class="create-event-table-container">
                <Form id="createEvent" action = './createEvent' method = 'POST'>
                  <table class="create-event-table">
                    <tr>
                      <th>Event Title:</th>
                      <td colspan="3"><input type="text" class="event-title-td" id="eTitle" name="eTitle" placeholder="Event Title" required></td>
                    </tr>
                    <tr>
                      <th>Event Type:</th>
                      <td><input type="text" id="eType" class="event-type-td" name="eType" placeholder="Type" required></td>
                      <th>Color:</th>
                      <td><input type="color" id="eColor" name="eColor" ></td>
                    </tr>
                    <tr>
                      <th rowspan="2">Start Date:</th>
                      <td rowspan="2"><input type="date" id="edate" name="edate" ></td>
                      <th>Text Color:</th>
                      <td><select id="eTextcolor" name="eTextcolor">
                            <option value="Black">Black</option>
                            <option value="White">White</option></td>
                    </tr>
                  <tr>
                    <th>Start Time:</th>
                    <td><input type="time" id="eSTime" name="eSTime" ></td>

                  </tr>
                  <tr>
                    <th rowspan="2">End Date:</th>
                    <td rowspan="2"><input type="date" id="eRecurDateend" name="eRecurDateend" ></td>
                    <th>End Time:</th>
                    <td><input type="time" id="eETime" name="eETime" ></td>

                  </tr>
                  <tr>
                    <th>Repeat Event:</th>
                    <td><select id="eRepeat" name="eRepeat">
                            <option value="None">None</option>
                            <option value="Daily">Daily</option>
                            <option value="Weekly">Weekly</option></td>
                  </tr>

                  <tr>
                    <th>Random roomate assigned:</th>
                    <td><input class type="checkbox" id="Random" name="Random" value="1"><td>
                  </tr>

                  
                  <tr >
                    <th class="event-description-row">Event Description:</th>
                    <td colspan="3"><textarea type="text" class="event-description-td" id="eDescription" name="eDescription" placeholder="Description"></textarea></td>
                    
                  </tr>

                  <tr>
                    <td colspan="4" class="create-event-button-td"><button type="submit" class="create-event-button" id="formButton" >Create Event</button></td>
                  </tr>

                  </table>
                    <!-- <ul>
                        <li> <label for="eTitle" class="eventForm">Event Title:</label> <input type="text" id="eTitle" name="eTitle" placeholder="Event Title" required></li>
                        <li> <label for="eType" class="eventForm">Type:</label> <input type="text" id="eType" name="eType" placeholder="Type" required></li>
                        <li> <label for="ecolor" class="eventForm">Color:</label> <input type="color" id="eColor" name="eColor" ></li>
                        <li> <label for="eTextcolor" class="eventForm">Text Color:</label> <select id="eTextcolor" name="eTextcolor">
                            <option value="Black">Black</option>
                            <option value="White">White</option>
                        </li>
                        <li> <label for="edate" class="eventForm">Date: DATE</label> <input type="date" id="edate" name="edate" ></li>
                        <li> <label for="eSTime" class="eventForm">Start Time:</label> <input type="time" id="eSTime" name="eSTime" ></li>
                        <li> <label for="eETime" class="eventForm">End Time:</label> <input type="time" id="eETime" name="eETime" ></li>
                        <li> <label for="eRepeat" class="eventForm">Repeat Event:</label> <select id="eRepeat" name="eRepeat">
                            <option value="None">None</option>
                            <option value="Daily">Daily</option>
                            <option value="Weekly">Weekly</option>

                        </li>
                        <li> <label for="eRecurDateend" class="eventForm">End Date:</label> <input type="date" id="eRecurDateend" name="eRecurDateend" ></li>
                        <li> <label for="eDescription" class="eventForm">Event Description:</label> <input type="text" id="eDescription" name="eDescription" placeholder="Description"></li>
                        <li >  <button type="submit"  id="formButton" >Create Event</button></li>

                    </ul> -->
                </Form>
                </div>

            </main>
        </body>
        <%- include('partials/footer') -%>
