<%- include('partials/header') -%>

    <%- include('partials/navigationStudent') -%>

        <body>
            <main >
                <h1>Event Details</h1>
                <h2>Title</h2>
            
            
            <ul class="eventShow">
                <li><p>Category: Chore</p></li>
                <li><p>When: Tuesday, August 23</p></li>
                <li><p>2:00-3:00 pm</p></li>
                <li><p>Repeat Weekly</p></li>
                <li><p>Description: We are going shopping</p></li>
            </ul>
            

            <form>
                <button type="submit" formmethod="GET" formaction="">Edit</button>
                <button type="submit" formmethod="POST" formaction="">Delete</button>
            </form>

            </main>
        </body>
        <%- include('partials/footer') -%>