<%- include('partials/header') -%>

    

        <body class="homepage-student-body">
            <main>
                <h1 class="welcome-text">Welcome Norm</h1>
                <div id='calendar'></div>
            </main>
        </body>
        <%- include('partials/footer') -%>