<%- include('partials/header') -%>

    <%- include('partials/navigationStudent') -%>

        <body class="homepage-student-body">
            <main>
                <h1 class="welcome-text">Welcome Norm</h1>

            </main>
        </body>
        <%- include('partials/footer') -%>