<%- include('partials/header') -%>

    <%- include('partials/navigationStudent') -%>

        <body>
            <main >
                <h1>Homepage</h1>

            </main>
        </body>
        <%- include('partials/footer') -%>