<%- include('partials/header') -%>


<script>
    var temp = '<%- JSON.stringify(event) %>';
    if (temp.length > 0){
    temp = JSON.parse(temp)

    document.addEventListener('DOMContentLoaded', function () {
      var calendarEl = document.getElementById('calendar');
      var calendar = new FullCalendar.Calendar(calendarEl, {

        schedulerLicenseKey: 'CC-Attribution-NonCommercial-NoDerivatives',
        initialView: 'dayGridMonth',
        headerToolbar: {
          left: 'prev,next',
          center: 'title',
          right: 'dayGridDay, dayGridMonth'
        },
        events: temp


      });
      calendar.render();
    });
  } else {
    document.addEventListener('DOMContentLoaded', function () {
      var calendarEl = document.getElementById('calendar');
      var calendar = new FullCalendar.Calendar(calendarEl, {

        schedulerLicenseKey: 'CC-Attribution-NonCommercial-NoDerivatives',
        initialView: 'dayGridMonth',
        headerToolbar: {
          left: 'prev,next',
          center: 'title',
          right: 'dayGridDay, dayGridMonth'
        }


      });
      calendar.render();
    });
  }

    console.log(temp)
  </script>

        <body class="homepage-student-body">
            <main>
                <h1 class="welcome-text">Welcome <%= person %></h1>
                <div id='calendar'></div>
            </main>
        </body>
        <%- include('partials/footer') -%>
