<%- include('partials/header') -%>

    <%- include('partials/navigation') -%>

        <body>
            <main >
                <h1>Inbox</h1>

            </main>
        </body>
        <%- include('partials/footer') -%>