<%- include('partials/header') -%>

    <%- include('partials/navigation') -%>

        <body>
            <main>
                <div class="homepage">
                    <h2> Welcome To Ted's Gardening Club </h2>
                    <p> Ted's gardening club is a great way for people to meet up and discuss garndeing tips,
                        plan trips to parks or anything else related to gardeing you would like to discuss with
                        fellow gardeners. If you would like to schedule or RSVP to an event please sign in to do so.
                    </p>
                </div>
            </main>
        </body>
        <%- include('partials/footer') -%>