<%- include('partials/header') -%>

    <body class="login-body-page">
    <body>
      <div class="login-header">
        </div>
        <div class="login-heading"><p>49er Sign In</p></div>
        <form action="/Login" id="Login" method="POST" action="/Login" >
            <table class="login-info">
                <tr class="login-row">
                    <td>
                        <label class="login-info-font">Email:</label>
                    </td>
                    <td>
                        <input type="text" class="input-login" name="email" />
                    </td>
                </tr>
                <tr class="login-row">
                    <td>
                        <label class="login-info-font">Password:</label>
                    </td>
                    <td>
                        <input type="password" class="input-login" name="password" />
                    </td>
                </tr>
            </table>
            <div class=logging-container>
              </div>
            <div class="logging-in-container">
              <button type="submit" value="Login" class="logging">Login</button>
            </div>
        </form>

    </body>

    <div class="footer-1">
      </div>
        <div class="footer-2">
          </div>