<%- include('partials/header') -%>

        <body class="welcome-page-body">
            <main >
                <h1 class="welcome-page-header">Welcome to the 49er Dorm Buddy!</h1>

                <form method="get" action="/login">
                  <div class="login-button-container">
                    <button type="submit" class="welcome-login">Login</button>
                  </div>
                </form>

            </main>
        </body>

        <div class="footer-1">
          </div>
            <div class="footer-2">
              </div>