<%- include('partials/header') -%>

    <%- include('partials/navigationStudent') -%>

        <body>
            <main >
                <h1>Welcome to the 49er Dorm Buddy!</h1>
                <!--TEst-->
            </main>
        </body>
        <%- include('partials/footer') -%>